body {
  font-family: 'Permanent Marker', 'Comic Sans MS', cursive, sans-serif;
}

#add-player {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 160px;
}

#restart {
  display: none;
}

#playerTurn {
  display: none;
}

.add-player > label {
  margin-bottom: .5rem;
}

.add-player > input {
  margin-bottom: 1rem;
}

#start {
  padding: 1rem .5rem;
  margin-top: 2rem;
}

#title {
  font-size: 42px;
}

table {
  width: 320px;
  height: 320px;
}

tr > td {
  height: 80px;
  width: 80px;
  font-size: 32px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
