body {
  font-family: 'Permanent Marker', 'Comic Sans MS', cursive, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input {
  border-radius: .5rem;
  padding: .5rem 1rem;
}

#add-player {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-bottom: 1rem;
  width: 160px;
}

#restart {
  display: none;
}

#playerTurn {
  display: none;
}

.add-player > label {
  margin-bottom: .5rem;
}

.add-player > input {
  margin-bottom: 1rem;
}

#start {
  padding: 1rem .5rem;
  margin-top: 2rem;
}

#title {
  font-size: 42px;
}

table {
  width: 320px;
  height: 320px;
  border-radius: .5rem;
}

tr {
  border-radius: .5rem;
}

tr > td {
  border-radius: .5rem;
  height: 80px;
  width: 80px;
  font-size: 42px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.rotate-on-click {
  display: inline-block;
  animation: rotateAnimation .5s ease-out forwards;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* body > table > tbody > tr > td {
  color: green;
  transition: red 1s ease-out 0.25s;
  animation: rotateAnimation 1s ease-out forwards;
} */
